<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="organizationSvc" value="/xrmservices/2011/organization.svc/web?SdkClientVersion=9.1" />
    <add key="organizationUrl" value="https://SUA_ORG.crmREGIAO.dynamics.com" />
    <add key="clientAppId" value="CLIENTID" />
    <add key="clientSecretId" value="SECRETID" />
    <add key="tenantId" value="TENANTID" />
    <add key="authority" value="https://login.microsoftonline.com/" />
    <add key="SQLQuery" value="SELECT accountid, name FROM [dbo].[account]" />
    <add key="SQLConnectionString" value="Data Source=SUA_ORG.crmREGIAO.dynamics.com,5558; Authentication=Active Directory Password; Initial Catalog=ORG; UID=USUARIO; PWD=SENHA" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>